<div class="card">
	<h2>User Details</h2>
	<form id="user-details-form" class="form">
		<div class="row">
			<label for="first-name">First name:</label>
			<input type="text" id="first-name" name="first-name" class="form-control" />
		</div>
		<div class="row">
			<label for="last-name">Last name:</label>
			<input type="text" id="last-name" name="last-name" class="form-control" ngModel />
		</div>
		<div class="row">
			<label for="secret-question">Secret Question:</label>
			<select id="secret-question" name="secret-question" class="form-control" ngModel>
				<option>What is the make and model of your first car?</option>
				<option>What is your mother's maiden name?</option>
				<option>What is the name of your first pet?</option>
				<option>What is the name of the city your were born in?</option>
				<option>What is your childhood nickname?</option>
			</select>
		</div>
		<div class="row">
			<label for="answer">Answer:</label>
			<input type="text" id="answer" name="answer" class="form-control" ngModel />
		</div>
		<div class="row">
			<button type="submit" class="btn">Submit</button>
		</div>
	</form>
	<div class="row"><a (click)="authComponent.changeFormState('LOGIN')">Login</a></div>
</div>
