@if (currentState === "LOGIN") {
	<div class="card">
		<h2>Login</h2>
		<form id="login-form" class="form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
			<div class="row">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" class="form-control" ngModel />
			</div>
			<div class="row">
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" class="form-control" ngModel />
			</div>
			<div class="row">
				<button type="submit" class="btn">Login</button>
			</div>
		</form>
		<div class="row"><a (click)="changeFormState('REGISTER')">Register</a></div>
	</div>
} @else if (currentState === "REGISTER") {
	<div class="card">
		<h2>Register</h2>
		<form
			id="register-form"
			class="form"
			(ngSubmit)="onSubmit(registerForm)"
			#registerForm="ngForm"
		>
			<div class="row">
				<label for="username">Username:</label>
				<input
					type="text"
					id="username"
					name="username"
					class="form-control"
					(ngModelChange)="this.dbService.checkUser('username', usernameInput.value)"
					ngModel
					#usernameInput
				/>
			</div>
			<div class="row">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" class="form-control" ngModel />
			</div>
			<div class="row">
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" class="form-control" ngModel />
			</div>
			<div class="row">
				<label for="confirm-password">Repeat Password:</label>
				<input
					type="password"
					id="confirm-password"
					name="confirm-password"
					class="form-control"
					ngModel
				/>
			</div>
			<div class="row">
				<button type="submit" class="btn">Register</button>
			</div>
		</form>
		<div class="row"><a (click)="changeFormState('LOGIN')">Login</a></div>
	</div>
} @else if (currentState === "DETAILS") {
	<div class="card">
		<h2>User Details</h2>
		<form
			id="user-details-form"
			class="form"
			(ngSubmit)="onSubmit(userDetailsForm)"
			#userDetailsForm="ngForm"
		>
			<div class="row">
				<label for="first-name">First name:</label>
				<input type="text" id="first-name" name="first-name" class="form-control" />
			</div>
			<div class="row">
				<label for="last-name">Last name:</label>
				<input type="text" id="last-name" name="last-name" class="form-control" ngModel />
			</div>
			<div class="row">
				<label for="secret-question">Secret Question:</label>
				<select id="secret-question" name="secret-question" class="form-control" ngModel>
					<option>What is the make and model of your first car?</option>
					<option>What is your mother's maiden name?</option>
					<option>What is the name of your first pet?</option>
					<option>What is the name of the city your were born in?</option>
					<option>What is your childhood nickname?</option>
				</select>
			</div>
			<div class="row">
				<label for="answer">Answer:</label>
				<input type="text" id="answer" name="answer" class="form-control" ngModel />
			</div>
			<div class="row">
				<button type="submit" class="btn">Submit</button>
			</div>
		</form>
		<div class="row"><a (click)="changeFormState('LOGIN')">Login</a></div>
	</div>
}
